.services__container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.service__boxes__container {
  display: flex;
  gap: 50px;
  margin-left: 100px;
  margin-right: 100px;
  align-items: center;
  justify-content: center;
}

.service {
  border: 1px solid #cccccc;
  border-radius: 1rem;
  padding: 15px 15px 15px 15px;
  width: 370px;
}

.service__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service span {
  color: #808080;
  font-weight: 600;
  font-size: 0.9rem;
}

.service__icon {
  font-size: 30px;
}
